{{- define "main" -}}
<main>
  <header class="hero">
    <div class="container">
      <h1>{{- .Title -}}</h1>
      <nav aria-label="Fil d’arianne">
        <ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
          <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
            <a href="/" itemprop="item">
              <span itemprop="name">Accueil</span>
              <meta content="1" itemprop="position">
            </a>
          </li>
          <li class="breadcrumb-item active" itemprop="itemListElement" itemscope=""
              itemtype="https://schema.org/ListItem">
              <span itemprop="name">
                {{- .Title -}}
              </span>
            <meta content="2" itemprop="position">
          </li>
        </ol>
      </nav>
    </div>
  </header>
  <div class="container">
    <section>
      <div class="results-container">
        <div class="card-container">
          {{- range .Paginator.Pages -}}
            {{ partial "partner.html" . }}
          {{- end -}}
        </div>
        {{ partial "pagination" . }}
      </div>
    </section>
  </div>
</main>
{{- end -}}
