@import "./partials/communicationImport";
@import "./partials/header";
@import "./partials/custom";
@import "./partials/partner";

// @import "../../static/assets/fonts/icons/icomoon.svg";


@font-face {
  font-family: "Aestetico Forma";
  src: url(../../static/assets/fonts/AesteticoFormal-Bold/font.woff) format("woff"),
       url(../../static/assets/fonts/AesteticoFormal-Bold/font.woff2) format("woff2"),
       url(../../static/assets/fonts/AesteticoFormal-Light/font.woff) format("woff"),
       url(../../static/assets/fonts/AesteticoFormal-Light/font.woff2) format("woff2"),
       url(../../static/assets/fonts/AesteticoFormal-Thin/font.woff) format("woff"),
       url(../../static/assets/fonts/AesteticoFormal-Thin/font.woff2) format("woff2");
}
@font-face {
  font-family: "Icon";
  src: url(../../static/assets/fonts/icons/icomoon.ttf) format("ttf"),
       url(../../static/assets/fonts/icons/icomoon.woff) format("woff");
}
