{{- define "main" -}}
<header class="hero">
  <div class="container">
    <h1>{{- .Title -}}</h1>
    <p>{{ .Params.Séquentiel }}</p>
    <nav aria-label="Fil d’arianne">
      <ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
          <a href="/" itemprop="item">
            <span itemprop="name">Accueil</span>
            <meta content="1" itemprop="position">
          </a>
        </li>
        <li class="breadcrumb-item active" itemprop="itemListElement" itemscope=""
            itemtype="https://schema.org/ListItem">
          <span itemprop="name">{{ .Title }}</span>
          <meta content="2" itemprop="position">
        </li>
      </ol>
    </nav>
  </div>
</header>

<div class="container container_partner">
  <h5>{{ .Params.parcours_professionnel_maximum_256_caracteres }}</h5>
  <div class="container_partner_info">
    <div class="region">
      <small>Région</small>
      {{ range .GetTerms "regions" }}
      <p class="place">
        <a href="{{ .Permalink }}">
          {{ .Title }}
        </a>
      </p>
      {{ end }}
    </div>
    <small>Domaines</small>
    <ul class="domains custom-ul">
      {{ range .GetTerms "domains" }}
      <li>
        <p>
          <a href="{{ .Permalink }}">
            {{ .Title }}
          </a>
        </p>
      </li>
      {{ end }}
    </ul>
    <div class="distanciel">
      <small>Distanciel</small>
      <p class="computer">{{ .Params.remote }}</p>
    </div>
    {{ if .Params.numero_de_telephone}}
    <div class="phone">
      <small>Téléphone</small>
      <p>{{ .Params.numero_de_telephone }}</p>
    </div>
    {{ end }}
    <div class="mail">
      <small>Email</small>
      <p>{{ .Params.adresse_e_mail }}</p>
    </div>
    <div class="linkedin link">
      <small>LinkedIn</small>
      <p><a href="{{ .Params.url_de_votre_profil_linkedin }}" target="_blank">{{
        .Params.url_de_votre_profil_linkedin }}</a></p>
    </div>
    <div class="site link">
      <small>Site</small>
      <p><a href="{{ .Params.url_de_votre_site_web_professionnel }}" target="_blank">{{
        .Params.url_de_votre_site_web_professionnel }}</a></p>
    </div>
  </div>
  <div class="benevol">
    <p>Conditions pour une intervention bénévole</p>
    <small>{{ .Params.conditions }}</small>
  </div>
</div>
{{ end }}
{{/*  https://www.rebootcommunication.org  */}}
