{{- define "main" -}}
<header class="hero">
  <div class="container">
    <h1>{{- .Title -}}</h1>
    <nav aria-label="Fil d’arianne">
      <ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
          <a href="/" itemprop="item">
            <span itemprop="name">Accueil</span>
            <meta content="1" itemprop="position">
          </a>
        </li>
        <li class="breadcrumb-item active" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
          <span itemprop="name">{{ .Title }}</span>
          <meta content="2" itemprop="position">
        </li>
      </ol>
    </nav>
  </div>
</header>

<div class="container container__partner">
  {{ if .Params.description }}
  <p>{{ .Params.description }}</p>
  {{ end }} 
  <div class="container__partner__info">
    <div>
      {{ if .Params.phone}}
      <p>
        <small>Téléphone</small><br>
        <a href="tel:{{string .Params.phone }}">{{string .Params.phone }}</a></p>
      </p>
      {{ end }}
      {{ if .Params.email }}
        <p>
          <small>Email</small><br>
          <a href="mailto:{{- .Params.email -}}">{{ .Params.email }} </a>
        </p>
      {{ end }}
      {{ if .Params.linkedin }}
        <p>
          <small>LinkedIn</small><br>
          <a href="{{- .Params.linkedin -}}" target="_blank">{{ .Params.linkedin }}</a>
        </p>
      {{ end }}
      {{ if .Params.website }}
        <p>
          <small>Site</small><br>
          <a href="{{- .Params.website -}}" target="_blank">{{ .Params.website }}</a>
        </p>
      {{ end }}
      {{ if .Params.remote }}
        <p>
          <small>Distanciel</small><br>
          {{ .Params.remote }}
        </p>
      {{ end }}
      {{ if .Params.conditions }}
        <p>
          <small>Conditions pour une intervention bénévole</small><br>
          {{ .Params.conditions }}
        </p>
      {{ end }}
    </div>
    <div>
      {{ if not ( in .Params.regions "Sélectionnez une région") }}
        <p>
          <small>Région</small><br>
          {{ range .GetTerms "regions" }}
            {{ partial "region.html" .Page }}
          {{ end }}
        </p>
      {{ end }}
      {{ if .Params.domains }}
        <p>
          <small>Domaines</small><br>
          {{ range .GetTerms "domains" }}
            {{ partial "domain.html" .Page }}
          {{ end }}
        </p>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
