{{- define "main" -}}
<main>
  <header class="hero">
    <div class="container">
      <h1>{{- .Title -}}</h1>
    </div>
  </header>
  <div class="blocks">
    <section class="block-chapter">
      <div class="container">
        <div class="block-content">
          <div>
            <p>{{- .Description | safeHTML -}}</p>
          </div>
        </div>
      </div>
    </section>
    <section class="block-call_to_action" id="block-2">
      <div class="container">
        <div class="block-content">
          <div class="call_to_action call_to_action--without-image">
            <div>
              <h2>Devenir partenaire ?</h2>
              <div>
                <p>Vous aussi, vous souhaitez <b>intervenir</b> au sein des écoles et accompagner la transition vers une communication plus responsable&nbsp;?</p>
              </div>
              <div role="group">
                <a href="https://framaforms.org/inscription-dans-lannuaire-reboot-dune-personne-intervenante-dans-les-ecoles-reboot-2022-1648067273" title="S'inscrire sur l'annuaire">S'inscrire sur l'annuaire</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
  </div>
  <div class="container">
    <div class="tags">
      <p>Régions</p>
      <ul>
        {{- range .Site.Taxonomies.regions -}}
          <li>{{ partial "region.html" .Page }}</li>
        {{- end -}}
      </ul>
      <p>Domaines</p>
      <ul>
        {{- range .Site.Taxonomies.domains -}}
          <li>{{ partial "domain.html" .Page }}</li>
        {{- end -}}
      </ul>
    </div>
    <section>
      <div class="results-container">
        <div class="card-container">
          {{- range .Paginator.Pages -}}
            {{ partial "partner.html" . }}
          {{- end -}}
        </div>
        {{- partial "pagination" . -}}
      </div>
    </section>
  </div>
</main>
{{- end -}}
