{{- define "main" -}}
<main>
  <header class="hero">
    <div class="container">
      <h1>{{- .Title -}}</h1>
    </div>
  </header>
  <div class="blocks">
    <section class="block-chapter">
      <div class="container">
        <div class="block-content">
          <div>
            <p>{{- .Description | safeHTML -}}</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="container">
    <div class="tags">
      <p>Régions</p>
      <ul>
        {{- range .Site.Taxonomies.regions -}}
          <li>{{ partial "region.html" .Page }}</li>
        {{- end -}}
      </ul>
      <p>Domaines</p>
      <ul>
        {{- range .Site.Taxonomies.domains -}}
          <li>{{ partial "domain.html" .Page }}</li>
        {{- end -}}
      </ul>
    </div>
    <section>
      <div class="results-container">
        <div class="card-container">
          {{- range .Paginator.Pages -}}
            {{ partial "partner.html" . }}
          {{- end -}}
        </div>
        {{- partial "pagination" . -}}
      </div>
    </section>
  </div>
</main>
{{- end -}}
